// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FCCB62;
$pink-red: #F77969;
$green: #1EDD88;
$white: #FFFF;
$light-gray: #F4F4F4;
$black-ish: #292929;
$navy-blue: #2B3E4F;
