.profile-container {
  height: auto;
  position: relative;
}

.profile-banner-container{
  height: 250px;
  width: 100%;
  margin-bottom: 165px;
  margin-top: 20px;
}

.profile-btns-container {
  margin-bottom: 20px;
}

.profile-banner-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.profile-imgs-names-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 200px;
  padding-left: 5px;
  width: 100%;
}

.profile-user-img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-dog-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 120px;
  border: 2px $navy-blue solid;
}

.profile-names-container{
  height: 150px;
  width: 100%;
  // margin: 60px;
  text-align: end;
  margin-top: -150px;
}


.profile-cards {
  padding: 15px;
  font-size: 16px;
  margin-top: 25px;
}

.profile-cards h2 {
  margin-bottom: -15px;
}

.friends-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-buttons {
  color: rgb(31, 28, 28);
  border-radius: 10px;
  width: 60%;
  background: #fccb62;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: 600;
  font-family: $headers-font;
  height: auto;
  margin-bottom: 15px;
}

.profile-activities-container {
  margin-top: 10px;
  }

.friends-container h2 {
  margin-bottom: 20px;
}

.friends-container-imgs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.friends-pic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px $navy-blue solid;
}

.profile-activities-container, .activities-created-container {
width: 100%;
height: 270px;
display: flex;
overflow-x: scroll;
text-overflow: ellipsis;
padding: 10px;
}

.profile-activities-cards {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #fefefe;
  text-align: center;
}

.img-card-profile {
  margin-bottom: 15px;
  height: 150px;
  width: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.activity-profile-titles {
  margin-top: 10px;
}
