<!-- Button trigger modal -->
<button type="button" class="btn btn-primary activity-show-btn" data-bs-toggle="modal" data-bs-target="#deleteActivity"><strong>Delete activity</strong>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteActivity" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the activity?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <%= link_to activity_path(@activity), data: { turbo: true, "turbo-method": :delete } do %>
          <button type="button" class="btn btn-primary bg-danger">Delete</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
