<%= link_to home_path do %>
  <div class = "landing-container">
    <div class = "landing-page-content">
      <img class ="robyletters" src="https://res.cloudinary.com/mariacend1910/image/upload/v1662368379/Roby_logo_2_vccltl.svg">
      <img class ="robycircle" src="https://res.cloudinary.com/mariacend1910/image/upload/v1662368392/Roby_isologo_2_rpcbba.svg">
      <h1 class ="enter">Tap to enter</h1>
    </div>
  </div>
<% end %>
