
  <div class = "landing-container">
    <div class = "landing-page-content">
      <img class ="robyletters" src="https://res.cloudinary.com/mariacend1910/image/upload/v1662368379/Roby_logo_2_vccltl.svg">
    <div data-controller="bark" class ="robycircle" id="audio">
      <audio
        src="https://res.cloudinary.com/dfbhewkkh/video/upload/v1662641354/mixkit-dog-barking-twice-1_online-audio-converter.com_i9gwal.mp3"
      ></audio>
    </div>

    <audio
      id="audio"
        src="https://res.cloudinary.com/dfbhewkkh/video/upload/v1662641354/mixkit-dog-barking-twice-1_online-audio-converter.com_i9gwal.mp3"
    ></audio>

    <%= link_to home_path do %>
      <h1 class ="enter">Tap to enter</h1>
    <% end %>
    </div>
  </div>
