.profile-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.profile-btns-container a {
  width: 40%;
}

.btn-primary {
  color: rgb(31, 28, 28);
  padding: 15px;
  border-radius: 15px;
  width: 70px;
  background: #fccb62;
  transition: background 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  font-family: $headers-font;
}

.btn-primary:hover {
  background: #84631c;
  color: rgb(33, 30, 30);
}
