.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 5px;
    width: 150%;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 5px;

    .form-group {
      margin-bottom: 0;
    }
  }

}

.chatroom-modal{
  z-index: -1;
  &.show{
    z-index: 1000 !important;
  }
}
