* {
  margin: 0;
  padding: 0;
  color: $black-ish;
  //overflow-x: hidden;
}

html {
  background-color: #FAFAFA;
  // ALL the text is black
  color: $black-ish !important;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: $body-font;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}
