.index-activity-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 70px;
}

.index-cards-container a {
  text-decoration: none;
  margin: 0;
  color: black;
}

.index-cards {
  display: flex;
  align-items: left;
  height: auto;
  background-color: #fefefe;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  width: 100%;
  margin-top: 35px;
  border-right: 14px solid $pink-red;
}

.index-card-container-left {
  width: 47%;
}

.index-card-container-right {
  width: 53%;
  margin-left: 10px;
  height: auto;
  font-size: 4vw;
  padding: 15px 10px;
}

.index-image-cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.h1 {
  font-style: bold;
  font-family: $headers-font;
}

.p {
  font-family: $body-font;
}

.index-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.date-and-location-index {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.1px;
}

.map-index-container {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.activity-index-users-container {
  display: flex;
  margin-top: 8px;
}

.activity-index-attendees-avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  margin-left: 7px;
  text-align: center;
}

.image-avatar-index {
  height: 25px;
  width: 25px;
  border: 1px solid $yellow;
}

.activity-card-price {
  color: $pink-red;
  font-weight: 800;
}

.index-card-title {
  font-size: 100%;
}

.index-card-categories-container{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.index-card-category-tag {
  background-color: $yellow;
  border-radius: 18px;
  padding: 5px 10px;
  font-size: 8px;
  color: white;
  margin-right: 6px;
  width: auto;
}
