.index-activity-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.index-cards-container {
}

.index-cards-container a {
  text-decoration: none;
  margin: 0;
  color: black;
}

.index-cards {
  display: flex;
  align-items: left;
  height: 175px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  width: 100%;
  margin-top: 25px;
  border-right: 12px solid $pink-red;
}

.index-card-container-left {
  width: 45%;
}

.index-card-container-right {
  width: 55%;
  margin-left: 10px;
  margin-top: 5px;
  height: 175px;
  padding: 10px;
  font-size: 4vw;
}

.index-image-cards {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


.h1 {
  font-style: bold;
  font-family: $headers-font;
}

.p {
  font-family: $body-font;
}

.index-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.date-and-location-index {
  margin-top: 20px;
  margin-bottom: 10px;
}

.map-index-container {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}
