.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid $yellow;
}

.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  padding: 25px;
}

.mapboxgl-popup-content h3{
  margin-bottom: 5px;
}
