.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid $yellow;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}
