.main-navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.logo-container{
  z-index: 1000;
}


.logo{
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.navbar-logo {
  width: 150px;
}


.menu-icon{
  z-index: 1000;
  background-color: #fccb62;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
}

.menu-icon > i{
  color: rgb(0, 0, 0);
  font-size: 40px;

}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index:500;
}

.nav-menu > li{
  font-size: x-large;
  font-weight: bold;
  margin: 7% 0% ;

}

.nav-active{
  background: #F3F3F3;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  background-color: #2B3E4F ;
}

.navbar-button{
  background-color: #fccb62;
  width: 70vw;
  border-radius: 8px;
  color: black !important;
  padding: 8px;
  font-size: 20px;
}

.black{
  color: black;
}
