.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar-toggler {
  border-radius: 10px;
  border-color: white;
}
